

body{
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}
hr {
    border: 0;
	border-top: 1px solid #ccc;
}
button {
    position: relative;
}

button {
    color: #555;
	background-color: rgb(255, 58, 58);
	border: 0px;
	margin: 1px; /* GNOME Web */
	padding: 5px 8px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
    button:hover {
		background-color: rgb(255, 155, 155);
	}

	button.selected {
		background-color: rgb(241, 135, 135);
    }
    
select {
    color: #666;
	background-color: #ddd;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
    select:hover {
		background-color: #fff;
	}

.Panel {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

.Panel {
    color: #888;
}


#toolbar {
    position: absolute;
    right: 350px;
    top: 70px;
    width: 33px;
    text-align: center;
}
    #toolbar button, #toolbar input {
        height: 32xp;
        border-radius: 3px;
    }
        #toolbar button img{
            width: 16px;
        }
    #toolbar {
        background-color: rgba(255, 58, 58, 0);
        border-radius: 3px;
    }
        #toolbar img {
            filter: invert(1);
        }
#sidebar {
    position: absolute;
    right: 0;
    top: 42px;
    bottom: 0;
    width: 300px;
    background: rgb(255, 255, 255);
    overflow: auto;

}
#sidebar canvas {
    vertical-align: middle;
}

#menubar{
    position: absolute;
    left: 40px;
    top: 60px;
    width: 60px;
    background: rgba(255, 32, 32, 0);
    text-align: center;

    
}

    #menubar button, #menubar input{
        height: 60px;
        width: 60px;
        background: rgb(255, 255, 255);
        margin: 10px 0px;
        padding: 10px 0px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px  rgb(255, 81, 81);

      
    }
        #menubar img {

         position: relative;
         text-align: center;
         width: 40px;
        }

.nav-header.inicio{
    background-color: rgb(255, 58, 58);
    height: 42px;
    width: 100%;

}

#view {
    position: absolute;
    top: 42px;
    left: 0;
    right: 300px;
    bottom: 0;
}


